/Promedio/Pomedio/target/
/Promedio/Taco/target/
/Taco/target/
/Promedio/Condicionales/target/
/Promedio/Opciones/target/
/Promedio/Casting/target/
/Promedio/Pomedio/Casting/target/
/Casting/target/
/Nivel2/target/
/Nivel3/target/
/Ak/target/
/Gasolina/target/
/Gasolina/nbproject/
/Taza/nbproject/
/Reproductor/nbproject/
/Reproductor/target/
/Materia/target/
